* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
form,
.searchTasks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header {
    top: 18%;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
}

form {
    top: 28%;
}

ul {
    padding-top: 20px;
}

li {
    text-align: left;
    list-style: none;
}

body {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(160, 160, 160, 0.459);
}

body img {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.searchTasks {
    top: 40%;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

@media (orientation: portrait) {
    body img {
        height: 100%;
        width: initial;
    }
}

button,
input.search,
form input,
form button {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    border: solid black 1px;
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
    letter-spacing: 1px;
}

form input {
    margin: 28px;
}

li button {
    float: right;
    margin-top: 5px;
}

form span {
    width: 30px;
}